# Introduction to Sets - Lab

## Introduction

Probability theory is all around. A common example is in the game of poker or related card games, where players try to calculate the probability of winning a round given the cards they have in their hands. Also in the business context probabilities play an important role. Operating in an volatile economy, companies need to take uncertainty into account and this is exactly where probability theory plays a role.

As mentioned in the lesson before, a good understanding of probability starts with understanding of sets and set operations. That's exactly what you'll learn in this lab!

## Objectives

You will be able to:

- Have a better sense of what sets, universal sets, and subsets are
- Know how to perform common set operations in Python 
- Learn how to use Venn Diagrams to understand about the relationships between sets


## Exploring Set Operations Using a Venn Diagram

Let's start with a pretty conceptual example. Let's consider the following sets:

   - $\Omega$ = positive integers between [1, 12]
   - $A$= even numbers between [1, 10]
   - $B = \{3,8,11,12\}$
   - $C = \{2,3,6,8,9,11\}$
    

#### a. Illustrate all the sets in a Venn Diagram like the one below. The rectangular shape represents the universal set.

<img src="./images/venn_diagr.png" width="600">

#### b. Using your Venn Diagram, list the elements in each of the following sets:

- $ A \cap B$
- $ A \cup C$
- $A^c$ 
- The absolute complement of B
- $(A \cup B)^c$
- $B \cap C'$
- $A\backslash B$
- $C \backslash (B \backslash A)$ 
- $(C \cap A) \cup (C \backslash B)$


        
        
#### c. For the remainder of this exercise, let's  create sets A, B and C and universal set U in Python and test out the results you came up with. Sets are easy to create in Python. For a guide to the syntax, follow some of the documentation [here](https://www.w3schools.com/python/python_sets.asp)

In [1]:
# Create set A
A = set(range(2,11,2))
'Type A: {}, A: {}'.format(type(A), A) # "Type A: <class 'set'>, A: {2, 4, 6, 8, 10}"

"Type A: <class 'set'>, A: {2, 4, 6, 8, 10}"

In [2]:
# Create set B
B = set([8,11,3,12])
'Type B: {}, B: {}'.format(type(B), B) # "Type B: <class 'set'>, B: {8, 11, 3, 12}"

"Type B: <class 'set'>, B: {8, 3, 11, 12}"

In [3]:
# Create set C
C = set([2,3,6,8,9,11])
'Type C: {}, C: {}'.format(type(C), C) # "Type C: <class 'set'>, C: {2, 3, 6, 8, 9, 11}"

"Type C: <class 'set'>, C: {2, 3, 6, 8, 9, 11}"

In [4]:
# Create universal set U
U = set(range(1,13))
'Type U: {}, U: {}'.format(type(U), U) # "Type U: <class 'set'>, U: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}"

"Type U: <class 'set'>, U: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}"

Now, verify your answers in section 1 by using the correct methods in Python. To provide a little bit of help, you can find a table with common operations on sets below.

| Method        |	Equivalent |	Result |
| ------                    | ------       | ------    |
| s.issubset(t)             |	s <= t     | test whether every element in s is in t
| s.issuperset(t)           |	s >= t     | test whether every element in t is in s
| s.union(t)                |	s $\mid$ t | new set with elements from both s and t
| s.intersection(t)         |	s & t      | new set with elements common to s and t
| s.difference(t)           |	s - t 	   | new set with elements in s but not in t
| s.symmetric_difference(t) |	s ^ t      | new set with elements in either s or t but not both

#### 1. $ A \cap B$

In [5]:
A_inters_B =  A.intersection(B)
A_inters_B # {8}

{8}

#### 2. $ A \cup C $

In [6]:
A_union_C = A.union(C)
A_union_C # {2, 3, 4, 6, 8, 9, 10, 11}

{2, 3, 4, 6, 8, 9, 10, 11}

#### 3.  $A^c$ (you'll have to be a little creative here!)

In [8]:
A_comp = U-A
A_comp # {1, 3, 5, 7, 9, 11, 12}

{1, 3, 5, 7, 9, 11, 12}

#### 4.  $(A \cup B)^c $

In [9]:
A_union_B_comp = U - (A|B)
A_union_B_comp # {1, 5, 7, 9}

{1, 5, 7, 9}

#### 5. $B \cap C' $

In [10]:
B_inters_C_comp = B & (U-C)
B_inters_C_comp # {12}

{12}

#### 6. $A\backslash B$

In [11]:
compl_of_B = A-B
compl_of_B # {2, 4, 6, 10}

{2, 4, 6, 10}

#### 7. $C \backslash (B \backslash A) $

In [12]:
C_compl_B_compl_A = C-(B-A)
C_compl_B_compl_A # {2, 6, 8, 9}

{2, 6, 8, 9}

#### 8.  $(C \cap A) \cup (C \backslash B)$

In [13]:
C_inters_A_union_C_min_B= (A&C)|(C-B)
C_inters_A_union_C_min_B # {2, 6, 8, 9}

{2, 6, 8, 9}

## The Inclusion Exclusion Principle

Use A, B and C from exercise one to verify the inclusion exclusion principle in Python. 
You can use the sets A, B and C as used in the previous exercise. 

Recall from the previous lessen that:

$$\mid A \cup B\cup C\mid = \mid A \mid + \mid B \mid + \mid C \mid - \mid A \cap B \mid  -\mid A \cap C \mid - \mid B \cap C \mid  + \mid A \cap B \cap C \mid $$

combining these main commands:

| Method        |	Equivalent |	Result |
| ------                    | ------       | ------    |
| a.union(b)                |	A $\mid$ B | new set with elements from both a and b
| a.intersection(b)         |	A & B      | new set with elements common to a and b

along with the `len(x)` function to get to the cardinality of a given x ("|x|").

What you'll do is translate the left hand side of the equation for the inclusion principle in the object `left_hand_eq`, and the right hand side in the object `right_hand_eq` and see if the results are the same.

In [20]:
left_hand_eq = len(A|B|C)
print(left_hand_eq)  # 9 elements in the set

9

In [19]:
right_hand_eq = len(A) +len(B) + len(C) - len(A&C) - len(A&B) - len(B&C) + len (A&B&C)
print(right_hand_eq) # 9 elements in the set

9

In [22]:
# Use a comparison operator to compare `left_hand_eq` and `right_hand_eq`. Needs to say "True".
left_hand_eq==right_hand_eq

True

## Set Operations in Python

Mary is preparing for a road trip from her hometown, Boston, to Chicago. She has quite a few pets, yet luckily, so do her friends. They try to make sure that they take care of each other's pets while someone is away on a trip. A month ago, each respective person's pet collection was given by the following three sets:

In [28]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In this exercise, you'll be able to use the following operations:

|Operation                          |	Equivalent |	Result|
| ------                            | ------       | ------   |
|s.update(t)                        | 	$s \mid t$ 	   |return set s with elements added from t|
|s.intersection_update(t)           | 	s &= t     |	return set s keeping only elements also found in t|
|s.difference_update(t)             |	s -= t 	   |return set s after removing elements found in t|
|s.symmetric_difference_update(t)   |	s ^= t 	   |return set s with elements from s or t but not both|
|s.add(x)                           |	           |	add element x to set s|
|s.remove(x)                        |	           |	remove x from set s|
|s.discard(x)                       |	           |	removes x from set s if present|
|s.pop()                            | 	           |	remove and return an arbitrary element from s|
|s.clear()            	            |  	           |remove all elements from set s|

Sadly, Eve's turtle passed away last week. Let's update her pet list accordingly.

In [29]:
Eve.discard('Turtle')
Eve # should be {'Rabbit', 'Goldfish'}

{'Goldfish', 'Rabbit'}

This time around, Nina promised to take care of Mary's pets while she's awat. but also wants to make sure her pets are well taken care of. As Nina is already spending a considerable amount of time taking care of her own pets, adding a few more won't make that much of a difference. Nina does want to update her list while Marie is away.

In [31]:
Nina.update(Mary)
Nina # {'Chicken', 'Horse', 'Chinchilla', 'Parrot', 'Rabbit', 'Donkey', 'Dog', 'Cat', 'Goldfish'}

{'Cat',
 'Chicken',
 'Chinchilla',
 'Dog',
 'Donkey',
 'Goldfish',
 'Horse',
 'Parrot',
 'Rabbit'}

Mary, on the other hand, wants to clear her list altogether while away:

In [33]:
Mary.clear()
Mary  # set()

set()

Look at how many species Nina is taking care of right now.

In [35]:
n_species_Nina = len(Nina)
n_species_Nina # 9

9

Taking care of this many pets is weighing heavy on Nina. She remembered Eve had a smaller collection of pets lately, and that's why she asks Eve to take care of the common species. This way, the extra pets are not a huge effort on Eve's behalf. Let's update Nina's pet collection.

In [37]:
None
len(Nina-Eve) # 7

7

Taking care of 7 species is something Nina feels comfortable doing!

## Writing Down the Elements in a Set


Mary dropped off her Pet's at Nina's house, and finally made her way to the highway. Awesome, her vacation has begun!
She's approaching an exit. At the end of this particular highway exit, cars can either turn left (L), go straight (S) or turn right (R). It's pretty busy and there are two cars driving close to her. What you'll do now is create several sets. You won't be using Python here, it's sufficient to write the sets down on paper. A good notion of sets and subsets will help you calculate probabilities in the next lab!

Note: each set of action is what _all three cars_ are doing at any given time

a. Create a set $A$ of all possible outcomes assuming that all three cars drive in the same direction.
           
b. Create a set $B$ of all possible outcomes assuming that all three cars drive in a different direction.
             
c. Create a set $C$ of all possible outcomes assuming that exactly 2 cars turn right.
            
d. Create a set $D$ of all possible outcomes assuming that exactly 2 cars drive in the same direction.

                          
e. Write down the interpretation and give all possible outcomes for the sets denoted by:
 - I. $D'$ 
 - II. $C \cap D$, 
 - III. $C \cup D$.

## Optional Exercise: European Countries

Use set operations to determine which European countries are not in the European Union. You just might have to clean the data first with pandas.

In [38]:
import pandas as pd

#Load Europe and EU
europe = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'Europe') 
eu = pd.read_excel('Europe_and_EU.xlsx', sheet_name = 'EU')

#Use pandas to remove any whitespace from names

In [43]:
europe.head(3) #preview dataframe
#eu.head(3)

,Rank,Country,Population,% of population,Average relative annual growth (%),Average absolute annual growth,Estimated doubling time (Years),Official figure (where available),Date of last figure,Regional grouping,Source
0,1.0,Russia,143964709,17.15,0.19,294285,368,146839993,2017-01-01 00:00:00,EAEU,[1]
1,2.0,Germany,82521653,9.80,1.20,600000,90,82800000,2016-12-31 00:00:00,EU,Official estimate
2,3.0,Turkey,80810000,9.60,1.34,1035000,52,77695904,2016-12-31 00:00:00,NaN,[2]

In [51]:
# Your code comes here
pd.concat([europe,eu],join = 'outer')

/opt/conda/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,% of pop.,% of population,2017 population,Average absolute annual growth,Average relative annual growth,Average relative annual growth (%),Country,Date of last figure,Estimated doubling time (Years),Official figure,Official figure (where available),Population,Rank,Regional grouping,Source
0,NaN,17.15,NaN,294285,NaN,0.19,Russia,2017-01-01 00:00:00,368,NaN,146839993.0,143964709.0,1.0,EAEU,[1]
1,NaN,9.80,NaN,600000,NaN,1.20,Germany,2016-12-31 00:00:00,90,NaN,82800000.0,82521653.0,2.0,EU,Official estimate
2,NaN,9.60,NaN,1035000,NaN,1.34,Turkey,2016-12-31 00:00:00,52,NaN,77695904.0,80810000.0,3.0,NaN,[2]
3,NaN,7.76,NaN,261022,NaN,0.39,France,2017-03-01 00:00:00,177,NaN,66991000.0,65233271.0,4.0,EU,[3]
4,NaN,7.75,NaN,484000,NaN,0.75,United Kingdom,2016-12-30 00:00:00,92,NaN,66573504.0,65110276.0,5.0,EU,Official estimate
5,NaN,7.21,NaN,298000,NaN,0.49,Italy,2017-01-01 00:00:00,141,NaN,60788845.0,59320118.0,6.0,EU,Monthly official estimate
6,NaN,5.53,NaN,-28000,NaN,-0.06,Spain,2015-01-01 00:00:00,-,NaN,46449565.0,46397452.0,7.0,EU,Official estimate
7,NaN,5.10,NaN,-136000,NaN,-0.32,Ukraine,2015-03-01 00:00:00,-,NaN,42726067.0,42895704.0,8.0,NaN,Monthly official estimate
8,NaN,4.58,NaN,20000,NaN,0.05,Poland,2014-12-31 00:00:00,1334,NaN,38484000.0,38104832.0,9.0,EU,Official estimate
9,NaN,2.36,NaN,-81000,NaN,-0.41,Romania,2014-01-01 00:00:00,-,NaN,19942642.0,19622000.0,10.0,EU,Official estimate
10,NaN,2.02,NaN,62000,NaN,0.37,Netherlands,2018-04-15 00:00:00,189,NaN,17119800.0,17084459.0,11.0,EU,Official population clock
11,NaN,1.34,NaN,58000,NaN,0.52,Belgium,2017-08-01 00:00:00,134,NaN,11370968.0,11469204.0,12.0,EU,Monthly official estimate
12,NaN,1.28,NaN,-12000,NaN,0.16,Greece,2011-05-24 00:00:00,-,NaN,10816286.0,11142161.0,13.0,EU,Final 2011 census result
13,NaN,1.25,NaN,-6000,NaN,-0.06,Czech Republic,2017-07-30 00:00:00,-,NaN,10588063.0,10625250.0,14.0,EU,Official estimate
14,NaN,1.23,NaN,-58000,NaN,-0.56,Portugal,2016-12-31 00:00:00,-,NaN,10309573.0,10291196.0,15.0,EU,Official estimate
15,NaN,1.17,NaN,100000,NaN,1.03,Sweden,2017-08-31 00:00:00,68,NaN,10081396.0,9952186.0,16.0,EU,Official estimate
16,NaN,1.17,NaN,-28000,NaN,-0.28,Hungary,2014-12-31 00:00:00,-,NaN,9849000.0,9702671.0,17.0,EU,Official estimate
17,NaN,1.15,NaN,117000,NaN,1.23,Azerbaijan,2017-01-01 00:00:00,57,NaN,9810000.0,9923914.0,18.0,NaN,Official estimate
18,NaN,1.13,NaN,0,NaN,0.00,Belarus,2015-04-01 00:00:00,-,NaN,9481100.0,9452113.0,19.0,EAEU,Official estimate
19,NaN,0.85,NaN,-29000,NaN,-0.41,Serbia,2014-01-01 00:00:00,-,NaN,7146759.0,8762027.0,20.0,NaN,Official estimate
20,NaN,1.02,NaN,57000,NaN,0.67,Austria,2018-07-01 00:00:00,104,NaN,8794267.0,8751820.0,21.0,EU,Official estimate
21,NaN,0.98,NaN,71000,NaN,0.87,Switzerland,2014-09-30 00:00:00,80,NaN,8211700.0,8544034.0,22.0,EFTA,Official estimate
22,NaN,0.86,NaN,-41000,NaN,-0.57,Bulgaria,2013-12-31 00:00:00,-,NaN,7245677.0,7036848.0,23.0,EU,Official estimate
23,NaN,0.68,NaN,27000,NaN,0.48,Denmark,2015-01-01 00:00:00,145,NaN,5659715.0,5745547.0,24.0,EU,Official estimate
24,NaN,0.65,NaN,6000,NaN,0.11,Finland,2015-03-31 00:00:00,632,NaN,5473465.0,5475000.0,25.0,EU,Monthly official estimate
25,NaN,0.65,NaN,7000,NaN,0.13,Slovakia,2014-09-30 00:00:00,537,NaN,5415949.0,5426000.0,26.0,EU,Official estimate
26,NaN,0.62,NaN,57000,NaN,1.11,Norway,2015-01-01 00:00:00,63,NaN,5165802.0,5194000.0,27.0,EFTA,Official estimate
27,NaN,0.55,NaN,16000,NaN,0.35,Ireland,2016-04-01 00:00:00,200,NaN,4761865.0,4630000.0,28.0,EU,Preliminary 2016 census result
28,NaN,0.50,NaN,-13000,NaN,-0.31,Croatia,2012-07-01 00:00:00,-,NaN,4267558.0,4230000.0,29.0,EU,Official estimate
29,NaN,0.45,NaN,-24000,NaN,-0.64,Bosnia and Herzegovina,2013-10-01 00:00:00,-,NaN,3791622.0,3750000.0,30.0,NaN,Preliminary 2013 census result
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,NaN,0.00,NaN,0,NaN,0.00,Svalbard (Norway),2014-07-01 00:00:00,-,NaN,2575.0,3000.0,NaN,EFTA,Official estimate
56,NaN,0.00,NaN,0,NaN,0.00,Vatican City,2012,-,NaN,0.0,1000.0,49.0,NaN,Official estimate
0,16.18,NaN,82800000.0,628876,0.76,NaN,Germany,2017-03-31 00:00:00,NaN,82576900.0,NaN,NaN,1.0,NaN,Official estimate
1,13.10,NaN,67210459.0,265557,0.40,NaN,France,2018-01-01 00:00:00,NaN,67174000.0,NaN,NaN,2.0,NaN,Monthly official estimate
2,12.86,NaN,65808573.0,428793,0.65,NaN,United Kingdom,2017-06-30 00:00:00,NaN,65648100.0,NaN,NaN,3.0,NaN,Official estimate
3,11.84,NaN,60589445.0,-76001,-0.13,NaN,Italy,2018-01-01 00:00:00,NaN,60494000.0,NaN,NaN,4.0,NaN,Monthly official estimate
4,9.09,NaN,46528966.0,89037,0.19,NaN,Spain,2017-07-01 00:00:00,NaN,46549045.0,NaN,NaN,5.0,NaN,Official estimate
5,7.42,NaN,37972964.0,5756,0.02,NaN,Poland,2017-07-31 00:00:00,NaN,38426000.0,NaN,NaN,6.0,NaN,Official estimate
6,3.84,NaN,19638309.0,-121252,-0.62,NaN,Romania,2017-01-01 00:00:00,NaN,19638309.0,NaN,NaN,7.0,NaN,Official estimate
7,3.34,NaN,17081507.0,103004,0.60,NaN,Netherlands,2017-12-31 00:00:00,NaN,17184010.0,NaN,NaN,8.0,NaN,Monthly official estimate
8,2.22,NaN,11365834.0,54982,0.48,NaN,Belgium,2017-12-01 00:00:00,NaN,11399335.0,NaN,NaN,9.0,NaN,Monthly official estimate
9,2.10,NaN,10757293.0,-26390,-0.25,NaN,Greece,2017-01-01 00:00:00,NaN,10768193.0,NaN,NaN,10.0,NaN,Official estimate
10,2.07,NaN,10610055.0,31235,0.53,NaN,Czech Republic,2017-12-31 00:00:00,NaN,10610055.0,NaN,NaN,11.0,NaN,Official estimate
11,2.01,NaN,10309573.0,-31659,-0.31,NaN,Portugal,2016-12-31 00:00:00,NaN,10309573.0,NaN,NaN,12.0,NaN,Official estimate
12,1.95,NaN,9995153.0,146245,1.46,NaN,Sweden,2017-11-30 00:00:00,NaN,10112669.0,NaN,NaN,13.0,NaN,Monthly official estimate
13,1.91,NaN,9797561.0,-32814,-0.33,NaN,Hungary,2017-01-01 00:00:00,NaN,9797561.0,NaN,NaN,14.0,NaN,Official estimate
14,1.71,NaN,8772865.0,83578,0.95,NaN,Austria,2018-01-01 00:00:00,NaN,8823054.0,NaN,NaN,15.0,NaN,Official estimate
15,1.39,NaN,7101859.0,-51548,-0.73,NaN,Bulgaria,2016-12-31 00:00:00,NaN,7101859.0,NaN,NaN,16.0,NaN,Official estimate
16,1.12,NaN,5748769.0,41820,0.73,NaN,Denmark,2018-01-01 00:00:00,NaN,5781190.0,NaN,NaN,17.0,NaN,Official estimate
17,1.08,NaN,5503297.0,16036,0.29,NaN,Finland,2017-12-31 00:00:00,NaN,5516224.0,NaN,NaN,18.0,NaN,Monthly official estimate
18,1.06,NaN,5435343.0,9106,0.17,NaN,Slovakia,2017-09-30 00:00:00,NaN,5441899.0,NaN,NaN,19.0,NaN,Official estimate
19,0.93,NaN,4774833.0,50645,1.06,NaN,Ireland,2017-04-01 00:00:00,NaN,4792650.0,NaN,NaN,20.0,NaN,Official estimate
20,0.81,NaN,4154213.0,-36139,-0.87,NaN,Croatia,2016-12-31 00:00:00,NaN,4154213.0,NaN,NaN,21.0,NaN,Official estimate
21,0.56,NaN,2847904.0,-40082,-1.41,NaN,Lithuania,2018-02-01 00:00:00,NaN,2807495.0,NaN,NaN,22.0,NaN,Monthly official estimate
22,0.40,NaN,2065895.0,1708,0.08,NaN,Slovenia,2017-10-01 00:00:00,NaN,2065890.0,NaN,NaN,23.0,NaN,Official estimate
23,0.38,NaN,1950116.0,-18661,-0.96,NaN,Latvia,2018-01-01 00:00:00,NaN,1929900.0,NaN,NaN,24.0,NaN,Monthly official estimate
24,0.26,NaN,1315635.0,-309,-0.02,NaN,Estonia,2018-01-01 00:00:00,NaN,1318705.0,NaN,NaN,25.0,NaN,Official estimate
25,0.17,NaN,854802.0,6533,0.76,NaN,Cyprus,2016-12-31 00:00:00,NaN,845800.0,NaN,NaN,26.0,NaN,Official estimate
26,0.12,NaN,590667.0,14779,2.50,NaN,Luxembourg,2017-01-01 00:00:00,NaN,590667.0,NaN,NaN,27.0,NaN,Official estimate
27,0.09,NaN,440433.0,6114,1.39,NaN,Malta,2016-12-31 00:00:00,NaN,460297.0,NaN,NaN,28.0,NaN,Official estimate

## Summary

In this lab, you practiced your knowledge on sets, such as common set operations, the use of Venn Diagrams, the inclusion exclusion principle, and how to use sets in Python!